
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Dear, <%= @user.user_detail.f_name %></h1>
<p>
  Your payment has been received. We shall get back to you within 24 hrs.
</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>