<%= content_tag_for(:tr, banner) do %>
  <td><%= image_tag(banner.media.thumb.url) if banner.media.present? %></td>
  <td><%= banner.title %></td>
  <td><%= link_to(raw("<i class='fa fa-pencil-square-o'></i>"), edit_admin_banner_path(banner)) %></td>
<% end %>
