<% breadcrumb :admin_root, @banners, style: :bootstrap %>
<div class="articles">
  <h2><%= @banners.model_name %></h2>
  <table class="table">
    <thead>
      <tr>
      <th>Media</th>
      <%= sort_header :title, 'Title' %>
      <th></th>
      <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render @banners %>
    </tbody>
  </table>
  <%= paginate @banners %>
</div>
