<div class="row text-center">
  <div class="col-md-12 text-success">
    <h1>Success</h1>
  </div>

  <div class="col-md-12">
    <i class="fa fa-check-circle-o fa-4x text-success" aria-hidden="true"></i>
  </div>


  <div class="col-md-12">

    <h2>Dear, <%= current_user.user_detail.full_name.present? ? current_user.user_detail.full_name : current_user.username %></h2>
    <p>Thank you for your order.</p>
    <p>You will receive a confirmation email shortly. This email will also have the necessary next steps.</p>
    <p>If you have any questions, please contact us at hello@simplesettler.com</p>
  </div>


</div>
