<div class="row text-center">
  <div class="col-md-12 text-danger">
    <h1>Error</h1>
  </div>

  <div class="col-md-12">
    <i class="fa  fa-exclamation-circle fa-4x text-danger" aria-hidden="true"></i>
  </div>


  <div class="col-md-12">

    <h2>Dear, <%= current_user.user_detail.present? current_user.user_detail.full_name : current_user.username %></h2>
    <p>An error occurred while processing your payment.</p>
  </div>


</div>
