<div class="navSpacer"></div>

<div class="articleEdit">
  <div class="container">
    <div class="articleEditContainer">
    <div class="header">
      <h2>New Article</h2>
    </div>

    <%= render 'form' %>
    </div>
  </div>
</div>
