$logoColor: #00b6ab;
$menuBGColor: #ccc;
$delete: #f00;

$bannerHeight: 60vh;

@mixin button {
  border: 1px solid $logoColor;
  background: $logoColor;
  line-height: 42px;
  height: 42px;
  transition: 0.3s;
  text-decoration: none;
  color: white;
  display: inline-block;
  text-align: center;
  font-size: 14px;
}

@mixin bannerHeight {
  height: 300px;
}
