$logoColor: #00b6ab;
$menuBGColor: #ccc;
$delete: #f00;
$textColor: #aaa;

$backgroundColor: #F7F5F6;

@mixin button {
  border: 1px solid $logoColor;
  background: $logoColor;
  padding: 10px;
  transition: 0.3s;
  text-decoration: none;
  color: white;
  display: inline-block;
}
