body {
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
}

button:focus, input:focus {
  outline: 0;
}

.btn .btn-primary {
  background: $logoColor !important;
  border-color: $logoColor !important;
}

h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
}

h1 { font-size: 40px; }
h2 { font-size: 30px; }
h3 { font-size: 25px; }
.banner {
  background-size: cover;
  background-position: center;
  width:100%;
  height: 480px;
  text-align: center;
  color: white;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

p, a, li {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.95em;
  letter-spacing: 0.0525em;
  margin: 0;
}

ol, ul {
  margin-left: 30px;
}

.img-container {
  margin-bottom: 10px;
  position: relative;
  span {
    position: absolute;
    z-index: 99;
    bottom: 0;
    padding: 5px;
    width: 100%;
    background: rgba(0,0,0,0.5);
    color: #fff;
    left: 0;
  }
}

.img-effect {
  position: relative;
  width: 100%;
  height: 200px;
  background: rgba(0,0,0,0.7);
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.img-effect:hover {
  opacity: 0.7;
}

.primary-btn {
  border: 1px solid $logoColor;
  background: $logoColor;
  line-height: 42px;
  height: 42px;
  transition: 0.3s;
  text-decoration: none;
  color: white;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  width: 150px;
  margin: 20px auto;
  margin-bottom: 60px;
}

.primary-btn:hover {
  border: 1px solid $logoColor;
  text-decoration: none;
  background: rgba(255,255,255,0);
  color: $logoColor;
}

.label-style {
  margin-left: 3px;
}

.top-buffer { margin-top: 10px; }
.bottom-buffer { margin-bottom: 10px; }

.colored {
  background: #f9ffff;
  border-top: 1px solid #c0dddb;
  border-bottom: 1px solid #c0dddb;
}

.categorySelect a { font-size: 1.5em; }

a:hover i.fa-facebook-square  { color: #3B5998; }
a:hover i.fa-pinterest        { color: #C92228; }
a:hover i.fa-twitter          { color: #4099FF; }

@media only screen
  and (min-width: 320px)
  and (max-width: 1280px)
  and (-webkit-min-device-pixel-ratio: 2) {
    h1 { font-size: 2.5em; }
    h2 { font-size: 2.25em; }
    h3 { font-size: 2em; }
    p { font-size: 1.75em; }
    a { font-size: 1.75em; }
    li { font-size: 1.75em; }
    
    .call_to_action .primary-btn {
      line-height: 60px;
      width: 350px;
      height: 60px;
      font-size: 1.75em;
    }
}
