body {
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
}

button:focus, input:focus {
  outline: 0;
}

.btn .btn-primary {
  background: $logoColor !important;
  border-color: $logoColor !important;
}

h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
}

p, a {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.95em;
  letter-spacing: 0.0525em;
  margin: 0;
}

ol, ul {
  margin-left: 30px;
}

.img-container {
  margin-bottom: 10px;
  position: relative;
  span {
    position: absolute;
    z-index: 99;
    bottom: 0;
    padding: 5px;
    width: 100%;
    background: rgba(0,0,0,0.5);
    color: #fff;
    left: 0;
  }
}

.img-effect {
  position: relative;
  width: 100%;
  height: 200px;
  background: rgba(0,0,0,0.7);
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.img-effect:hover {
  opacity: 0.7;
}

.label-style {
  margin-left: 3px;
}

.top-buffer { margin-top: 10px; }
.bottom-buffer { margin-bottom: 10px; }

a:hover i.fa-facebook-square  { color: #3B5998; }
a:hover i.fa-pinterest        { color: #C92228; }
a:hover i.fa-twitter          { color: #4099FF; }
