body {
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
}

button:focus, input:focus {
  outline: 0;
}
.centered {
  margin: 0 auto;
}
.btn .btn-primary {
  background: $logoColor !important;
  border-color: $logoColor !important;
}

h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

p {
  font-size: 1.5rem;
  letter-spacing: 0.0525em;
  margin: 0;
}
a {
  text-decoration: none;
  font-size: 1.5rem;
  transition: .3s;
}
.admin a { font-size: 1rem; }




@media (min-width: 768px) {
  ol, ul {
    margin-left: 30px;
  }
}


.img-container {
  margin-bottom: 10px;
  position: relative;
  span {
    position: absolute;
    z-index: 99;
    bottom: 0;
    padding: 5px;
    width: 100%;
    background: rgba(0,0,0,0.5);
    color: #fff;
    left: 0;
  }
}

.img-effect {
  position: relative;
  width: 100%;
  height: 250px;
  background: rgba(0,0,0,0.7);
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  img {
    height: 100%;
  }
}

.img-effect:hover {
  opacity: 0.7;
}

.primary-btn {
  border: 1px solid $logoColor;
  background: $logoColor;
  line-height: 42px;
  height: 100%;
  transition: 0.3s;
  text-decoration: none;
  color: white;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  width: 150px;
}

.primary-btn:hover {
  border: 1px solid $logoColor;
  text-decoration: none;
  background: rgba(255,255,255,0);
  color: $logoColor;
}

.call-to-action {
  margin-bottom: 20px;
}

.cities .col-lg-4, .cities .col-xs-12 {
  text-align: center;
}

.label-style {
  margin-left: 3px;
}

.top-buffer { margin-top: 10px; }
.bottom-buffer { margin-bottom: 10px; }

.colored {
  background: #f9ffff;
  border-top: 1px solid #c0dddb;
  border-bottom: 1px solid #c0dddb;
}

.categorySelect a { font-size: 1.5rem; }

a:hover i.fa-facebook-square  { color: #3B5998; }
a:hover i.fa-pinterest        { color: #C92228; }
a:hover i.fa-twitter          { color: #4099FF; }

.footer-section {
  text-align: center;
  .social-icons {
    display: inline-block;
  }
}
