body {
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
}

button:focus, input:focus {
  outline: 0;
}

.btn .btn-primary {
  background: $logoColor !important;
  border-color: $logoColor !important;
}

h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
}

p, a {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.95em;
  letter-spacing: 0.0525em
}
