<% breadcrumb :admin_payments, style: :bootstrap %>
<div class="articles">
  <h2><%= @payments.model_name %></h2>

  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Amount paid</th>
      <th>Created at</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <%= render @payments %>
    </tbody>
  </table>
</div>