<% breadcrumb :admin_payment, @payments, style: :bootstrap %>
<div class="articles">
  <h2><%= @payments.model_name %></h2>
  <div class="row">
    <div class="col-sm-12">
    </div>
  </div>
  <table class="table">
    <thead>
    <tr>
      <%= sort_header :name, 'Name' %>
      <th>Email</th>
      <th>Amount paid</th>
      <th>Created at</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <%= render @payments %>
    </tbody>
  </table>
</div>