<div class="row">
  <div class="col-sm-12">
    <h2><%= t('site.expert.title') %></h2>
    <div class="content">
      <p><%= t('site.expert.content') %></p>
      <%= link_to t('site.more.get_started'), root_path %>
    </div>
  </div>
</div>
