<section class="getStarted colored">
  <div class="container">
    <h2>Not Enough? Speak to our experts.</h2>

    <div class="content">
      <p>Tell us about your needs and we’ll introduce you to several experienced professionals who can provide you with a step-by-step guide on helping you settle.</p>
      <%= link_to "Get Started", root_path %>
    </div>
  </div>
</section>
