<div class="container">
  <h2>How it works</h2>
  <div class="content">
    <div class="numbers">
      <div class="spacer">
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
      </div>
      <div class="line"></div>
    </div>
    <div class="info">
      <div class="spacer">
        <div>Search your city</div>
        <div>Get connected with services and people to help you settle smoothly</div>
        <div>Ask us any questions about your city and we will help you</div>
        <div>Share success of your story and unlock rewards!</div>
      </div>
    </div>
  </div>
</div>
