<div class="row recommendedBy colored">
  <div class="col-sm-12 header">
    <h2><%= t('site.media.featured_in') %></h2>
  </div>
  <div class="col-xs-12 col-lg-4">
    <%= image_tag('i-logo1.jpg') %>
  </div>
  <div class="col-xs-12 col-lg-4">
    <%= image_tag('i-logo2.jpg') %>
  </div>
  <div class="col-xs-12 col-lg-4">
    <%= image_tag('i-logo3.jpg') %>
  </div>
</div>
