<div class="row media-section colored">
  <div class="col-sm-12">
    <h2 class="text-center"><%= t('site.media.featured_in') %></h2>
  </div>
  <div class="col-xs-12 col-sm-4">
    <%= image_tag('i-logo1.jpg', class: 'abc-logo') %>
  </div>
  <div class="col-xs-12 col-sm-4">
    <%= image_tag('i-logo2.jpg') %>
  </div>
  <div class="col-xs-12 col-sm-4">
    <%= image_tag('i-logo3.jpg') %>
  </div>
</div>
