<div class="row recommendedBy colored">
  <div class="col-xs-12 col-sm-12 col-lg-4">
    <div class="logos one"></div>
  </div>
  <div class="col-xs-12 col-sm-12 col-lg-4">
    <div class="logos two"></div>
  </div>
  <div class="col-xs-12 col-sm-12 col-lg-4">
    <div class="logos three"></div>
  </div>
</div>
