<section class="pageEnd">
  <div class="container">
    <div class="content">
      <h1>YOUR STRESS ENDS HERE. LET US HELP YOU.</h1>
      <%=  link_to "Search Your City", nil, :class => "searchCity button"%>
      <%=  link_to "Visa Help", nil, :class => "VisaHelp button"%>
    </div>
  </div>
</section>
