<div class="row pageEnd">
  <div class="col-sm-12 content call_to_action">
    <h1><%= t('site.page_end.title') %></h1>
    <%=  link_to t('site.page_end.search'), nil, :class => "primary-btn"%>
    <%=  link_to t('site.page_end.visa'), nil, :class => "primary-btn"%>
  </div>
</div>
