<div class="row study">
  <p><%= image_tag '/experts/study_icon.png'%></p>
  <h2>Study</h2>
  <p>Get a degree from the some of the best educational institutions in the world and open new doors to your future.</p>
</div>
<div class="row work">
  <p><%= image_tag '/experts/work_icon.png'%></p>
  <h2>Work</h2>
  <p>Find out if you need a temporary work permit and how to obtain one.</p>
</div>
<div class="row live">
  <p><%= image_tag '/experts/live_icon.png'%></p>
  <h2>Live</h2>
  <p>Our extensive settlement information and resources can help you get settled anywhere.</p>
</div>
<div class='call_to_action'>
  <p><%= link_to 'Get Started', '/help', class: 'primary-btn' %></p>
</div>
