<h1>Hi, <span class="green-text"><%= current_user.username %> </span>how can we help you?</h1>

<form id="select_step_1">
  <fieldset>
    <div class="form-group">
      <div class="select-radio-styling">
        <label for="help_work_visa">Work Visa</label>
        <input type="radio" value="help_visa" name="help_visa" id="help_work_visa">
      </div>
      <div class="select-radio-styling">
        <label for="help_student_visa">Student Visa</label>
        <input type="radio" value="help_student_visa" name="help_visa" id="help_student_visa">
      </div>
      <div class="select-radio-styling">
        <label for="help_extend_visa">Extend Visa</label>
        <input type="radio" value="help_extend_visa" name="help_visa" id="help_extend_visa">
      </div>
      <div class="select-radio-styling">
        <label for="help_temporary_residency">Temporary Residency</label>
        <input type="radio" value="help_temporary_residency" name="help_visa" id="help_temporary_residency">
      </div>
      <div class="select-radio-styling">
        <label for="help_permanent_residency">Permanent Residency</label>
        <input type="radio" value="help_permanent_residency" name="help_visa" id="help_permanent_residency">
      </div>
      <div class="select-radio-styling">
        <label for="help_citizenship">Citizenship</label>
        <input type="radio" value="help_citizenship" name="help_visa" id="help_citizenship">
      </div>
      <div class="select-radio-styling">
        <label for="help_other">Other</label>
        <input type="radio" value="help_other" name="help_visa" id="help_other">
      </div>
    </div>

  </fieldset>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
</form>
