<div class="banner">
  <div>
    <h1>Frequently Asked Questions.</h1>
  </div>
</div>

<div class="container">
  <div class="faq">

    <h1>FAQ</h1>

    <h3>What is Simple Settler?</h3>

    <p>Simple Settler is an app that can help you stay informed on the important things you need to connect and get started with when you move into a new city.</p>

    <p>Using Simple Settler is just like asking your friend or family for advice on how to get connected in a city that you will be staying in for the next few years – except instead of asking someone or finding information yourself in different places across the web, you have one platform that has all the information you need.</p>

    <h3>What are the ways I can use Simple Settler?</h3>

    <p>Browse categories among others such as Transport, Finance, Immigration, Jobs, Accommodation, Food and more.</p>

    <ul>
      <li>Find articles such as how to get set up with a bank account, transport apps to download for your mobile device in your city, maximum amount of work hours required for an int’l student and we can go forever</li>
      <li>Save topics to your profile and read later what you need</li>
      <li>Share topics with your friends and family</li>
      <li>Contact with migration and job agents directly</li>
    </ul>

    <h3>How can i trust the articles?</h3>
    <p>We gather content by brainstorming ideas as a team and spending hour on the web looking for information our readers would love to know when they relocate to a city. The gathered information and any important resources such as government sites, videos from industrial experts etc. are citied within an article. This is a way of reassuring you that our content is trustworthy.</p>

    <h3>Why do I find that some of the articles are not helpful?</h3>
    <p>When you visit an article, scroll down at the bottom of the page and let us know how useful an article was to you. If the article is not relevant or not provided you with any value, leave us a comment. It will leave us both with winners.</p>

    <h3>Can SimpleSettler guarantee success of my visa?</h3>
    <p>SimpleSettler is not a law firm nor a migration agent. We understand that in Australia, only MARA registered agents can provide you legal advice related to visas. No content provided by us is to be construed as legal advice, nor should it be construed as a substitute for the advice of an attorney. SimpleSettler offers general information about visas and the law which can be found online from https://www.border.gov.au/.</p>

    <p>SimpleSettler exists to make information about relocation available to you in one platform with sources cited in areas we believe is important. We strongly encourage our readers to visit government source websites for more information.</p>

    <h3>Can your Agents guarantee success of my visa?</h3>
    <p>No agent in Australia can guarantee you the success of your visa. Only Border Australia authorised officers can grant a visa and only when you have met all the visa requirements. Avoid agents who tells you that they can guarantee you a visa.</p>

    <h3>Can your Agents guarantee success of employment in Australia?</h3>
    <p>Similar to immigration, no employment agency can guarantee you in securing employment. Securing employment is based on your work experience in the industry field. This must be included in your CV which is required for an agent to review. They will also guide you to finding the best route in securing employment. Please refer to Secrets to Writing a CV in increasing your chances of finding a job.</p>

    <h3>How do I trust your immigration agents?</h3>
    <p>We have partnered with only a handful of MARA agents who will be able to provide you with a high-level quality service and ensure you have everything in place to begin your application process with any visa-related matters. If you are unhappy with any immigration agent, please let us know and we will take appropriate action.</p>

    <h3>Why do I have to upload my resume?</h3>
    <p>We strongly recommend to upload a CV/Resume so that our agents are aware about the type of work experience you have, your educational qualifications, your time in Australia or overseas. We understand how important it is for you to know the outcome of your request. Uploading resume is the quickest way for our agents to determine the success of your application related to immigration or employment.</p>

    <h3>Can I book a consultation online?</h3>
    <p>Yes, absolutely! You can Skype or have a video call with your designated agent. Please liaise with agent and let them know about your preference.</p>

    <h3>What are Deals?</h3>
    <p>Australia is ranked amongst the Top 5 Expensive Countries in the World. We understand that when some of you move to Australia, you may be disappointed with the cost of living or prices on products and services compared to your country of birth/origin. Hence, Weekly Deals is a way of helping you experience the most out of Australia within your budget.</p>

  </div>
</div>
