<div class="banner">
  <div>
    <h1>SETTLE ANYWHERE.</h1>
    <h2>Discover and connect with services in your city.</h2>
      <%= text_field :search, nil, :class => 'searchCity', :placeholder => 'Search your city' %>
  </div>
</div>

<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
