<div class="row text-center">
  <div class="col-md-12 text-success">
    <h1>Success</h1>
  </div>

  <div class="col-md-12">
    <i class="fa fa-check-circle-o fa-4x text-success" aria-hidden="true"></i>
  </div>


  <div class="col-md-12">

    <h2>Dear, <%= current_user.user_detail.full_name %></h2>
    <p>Thank you for payment.</p>
    <p>We will be in touch on the next steps.</p>
  </div>


</div>