<%= content_tag(:div, article, class: 'img-container col-xs-12 col-sm-4') do %>
  <%= link_to(article.featured? ? article.external_url : city_article_path(current_city, article), title: article.title, target: article.featured? ? '_blank' : '', class: 'articleSelect') do %>
    <p><%= article.title %></p>
    <%= image_tag article.image.detail.url, class: "img-effect" %>
  <% end %>
<% end %>
