<div class="navSpacer"></div>

<div class="signin">
  <div class="container">
    <div class="signinCont">
      <div class="header">
        <h2>Edit City</h2>
      </div>

      <%= render 'form' %>

    </div>
  </div>
</div>
