@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import "shared/_variables";
@import "shared/typography";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "pages";
@import "articles";
@import "cities";
@import "jquery-ui";
@import "rateyo";
@import "users";
@import "visa_help";

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navSpacer {
  height: 66px;
  display: block;
  background: #252525;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}


/// NAV /////////////////////////////////////////////////
/// NAV /////////////////////////////////////////////////


nav {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 50;
}

.nav {
  box-sizing: border-box;
  padding: 14px 30px;
  width: 100%;
  justify-content: space-between;


  .navLeft {
    float: left;
    height: 42px !important;
    width: 160px;
    background: image-url('logo.png') no-repeat;
    text-indent: -9999px;
    margin-top: 5px;
    height: 100%;
  }

  .navRight {
    float: right;
    text-align: right;
    margin-top: 10px;
    a {
      display: inline-block;
      color: white;
      text-decoration: none;
      font-weight: 100;
      padding: 6px 10px;
    }

    .helpMenuItem {
      @include button;
      line-height: 30px;
    }

    .helpMenuItem:hover {
      background: rgba(0,0,0,0);
      color: $logoColor;
    }
  }
}

nav li {
  display: inline-block;
}



.navRight a:after {
  display:block;
  content: '';
  padding-bottom: 4px;
  border-bottom: solid 3px $logoColor;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.navRight a:hover:after {
  transform: scaleX(1);
}

.navRight .helpMenuItem:after {
  border-bottom: 0;
  padding-bottom: 0;
  transform: none;
}

.nav .hamburger {
  margin-top: 6px;
  color: white;
  text-decoration: none;
  float:right;
  display: none;
}


.navRight ul {
    display: block;
}

// RESPONSIVE NAV

@media screen and (max-width: 800px) {
  .nav .hamburger {
    display: inline !important;
  }
  .navRight ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    bottom: 0;
  }
  nav ul li {
    box-sizing: border-box;
    display: block;
    padding: 8px;
    text-align: center;
    background: rgba(0,0,0,0.8);
  }

    .responsiveNavShow {
        visibility: visible !important;
        opacity: 1 !important;
        -webkit-transition: opacity 0.5s;
        transition: opacity 0.5s;
    }
}


/// FOOTER //////////////////////////////////////////////
/// FOOTER //////////////////////////////////////////////


footer {
  padding: 30px 0;
  background: #252525;
  color: lightgray;

  .footer {
      text-align: center;
      .enterEmail {
        border: 1px solid white;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        height: 30px;
        width: 80%;
        max-width: 200px;
        padding-left: 10px;
        margin: 10px 0;
        vertical-align: middle;
        color: #252525;
      }

      .submitEmail {
        border: 0;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        height: 30px;
        width: 20%;
        max-width: 40px;
        margin-left: -4px;
        vertical-align: middle;
        box-sizing: border-box;
        color: #252525;
        padding: 2px 4px 0 0;

        i {
          font-size: 16px;
        }
      }

      i {
        font-size: 30px;
      }

      h3 {
        font-size: 15px;
        color: white;
        font-weight: 400;
      }

      ul {

        li {
          line-height: 2.5;
          font-size: 12px;
          list-style-type: none;
        }
      }
      a{
        text-decoration: none;
        color: white;
      }
    }
  }
