@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import "shared/_variables";
@import "shared/typography";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "pages";
@import "articles";
@import "cities";
@import "jquery-ui";
@import "rateyo";
@import "users";
@import "visa_help";

/// FOOTER //////////////////////////////////////////////
/// FOOTER //////////////////////////////////////////////


.footer-section {
padding: 30px 0;
background: #252525;
color: lightgray;

.row {
  .subscribe { height: 50px; }
  .enterEmail {
      border: 1px solid white;
      height: 100%;
      width: 70%;
      padding-left: 10px;
      margin: 10px 0;
      vertical-align: middle;
      color: #252525;
    }

    .submitEmail {
      border: 0;
      height: 100%;
      width: 15%;
      margin-left: -6px;
      vertical-align: middle;
      box-sizing: border-box;
      color: #252525;
      padding: 2px 4px 0 0;
    }

    i {
      font-size: 25px;
      width: 40px;
    }

    h3 {
      color: white;
      font-weight: 400;
    }

    ul {

      li {
        line-height: 2.5;
        list-style-type: none;
      }
    }
    a{
      text-decoration: none;
      color: white;
    }
  }
}
