.bannerArticle {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0,0,0,0.5);
  position: relative;
  height: $bannerHeight;
  width:100%;
  text-align: center;
  color: white;
  font-family: "Open Sans",sans-serif;

  img {
    position: absolute;
    height: $bannerHeight;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
  }

  .bannerInfo {
    position: absolute;
    bottom: 80px;
    left: 10%;
    right: 10%;
    h1 {
      font-size: 24px;
      letter-spacing: 2px;
      margin-bottom: 15px;
      z-index: 5;
    }
    h2 {
      font-weight: 300;
      font-size: 22px;
      margin-bottom: 15px;
      z-index: 5;
    }
  }
}

.bg {
  padding: 40px 0;
  background: #eee;
}

.articles {
  margin: 0 auto;
  .content {
    background: white;
    font-size: 1.5rem;
    top: -80px;

    #disqus_thread {
      width: 90%;
    }
    .share {
      margin: 20px;
      text-align: center;

      a {
        font-size: 14px;
        text-align: center;
        margin: 1px;
        height: 30px;
        text-decoration: none;
        color: white;
        overflow: hidden;
        width: 170px;
        line-height: 30px;
        transition: .3s;
        display: inline-block;
        }
        .facebook {
          background: #334d87;
        }
        .facebook:hover {
          background: #365db5;
        }
        .twitter {
          background: #00abf0;
        }
        .twitter:hover {
          background: #32c4ff
        }
        .google-plus {
          background: #df4a32;
        }
        .google-plus:hover {
          background: #ff553a
        }
        .pinterest {
          background: #c92228;
        }
        .pinterest:hover {
          background: #f0282f;
        }
      }

    .articleContent {
      line-height: 1.5;
      margin: 20px 0;
        h2 {
          margin-bottom: 20px;
        }

      ul {
        list-style-position: inside;
      }
    }

    .helpful {
      text-align: center;

      h3 {
        color: gray;
        margin: 40px 0 10px 0;
      }

      a {
        display: inline-block;
        line-height: 30px;
        height: 30px;
        width: 50px;
        color: white;
        text-decoration: none;
        transition: .3s;
        margin-bottom: 40px;
      }
      a.yes:hover {
        color: #00b6ab;
        background: white;
      }
      a.no:hover {
        color: gray;
        background: white;
      }
      .yes {
        border: 1px solid #00b6ab;
        background: #00b6ab;
        margin-right: 10px;
      }
      .no {
        border: 1px solid gray;
        background: gray;
      }
    }
  }

  .aside {
      .articlesAll {
      height: 200px;
      background-size: cover;
      margin-bottom: 14px;
    }
  }
}


/// FORMS /////////////////////////////////////////////////
/// FORMS /////////////////////////////////////////////////


.articleEdit {
  padding: 20px 0;
  min-height: 66vh;
  text-align: center;
  background: #eee;

  .articleEditContainer {
    border-radius: 10px;
    background: white;
    overflow: hidden;

    .header {
    height: 45px;
    background: #252525;
    margin-bottom: 10px;

      h2 {
        color: #00b6ab;
        padding: 7px;
        font-weight: 200;
      }
    }
    .articleForm {
      margin: 30px;

      .articleEditTitle {
        margin: 10px 0;
        width: 550px;
        height: 30px;
        padding-left: 10px;
        border: 1px solid #00b6ab;
        border-radius: 10px;
        font-size: 16px;
      }
      .articleEditCity {
        margin: 10px 0;
        border: 1px solid #00b6ab;
        background: white;
        height: 30px;
        width: 150px;
        border-radius: 10px;
      }

      .selectCity {
        padding: 10px 0;
      }

      .submitFormButton {
        width: 200px;
        height: 32px;
        border: 1px solid #00b6ab;
        border-radius: 10px;
        background: #00b6ab;
        color: white;
        font-size: 16px;
        cursor: pointer;
        margin: 10px;
      }
    }
  }
}
