.bannerArticle {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0,0,0,0.5);

  position: relative;
  .content {
    position: absolute;
    top: 350px;
  }
}

.bg {
  padding: 40px 0;
  background: #eee;
}

.articles {
  padding: 0;
  margin: 0 auto;
  .content {
    background: white;
    margin-bottom: 40px;
    top: -80px;
    .share {
      text-align: center;

      a {
        text-align: center;
        margin: 1px;
        height: 30px;
        text-decoration: none;
        color: white;
        overflow: hidden;
        width: 100%;
        line-height: 30px;
        transition: .3s;
        display: inline-block;
        }
        .facebook {
          background: #334d87;
        }
        .facebook:hover {
          background: #365db5;
        }
        .twitter {
          background: #00abf0;
        }
        .twitter:hover {
          background: #32c4ff
        }
        .google-plus {
          background: #df4a32;
        }
        .google-plus:hover {
          background: #ff553a
        }
        .pinterest {
          background: #c92228;
        }
        .pinterest:hover {
          background: #f0282f;
        }
      }

    .articleContent {
      line-height: 1.5;
      margin: 20px 0;
        h2 {
          margin-bottom: 20px;
        }

      ul {
        list-style-position: inside;
      }
    }

    .helpful {
      text-align: center;
      h3 {
        color: gray;
        margin: 40px 0 10px 0;
      }

      a {
        display: inline-block;
        padding: 10px 20px;
        color: white;
        text-decoration: none;
        transition: .3s;
        margin-bottom: 20px;
      }
      a.yes:hover {
        color: #00b6ab;
        background: white;
      }
      a.no:hover {
        color: gray;
        background: white;
      }
      .yes {
        border: 1px solid #00b6ab;
        background: #00b6ab;
        margin-right: 10px;
      }
      .no {
        border: 1px solid gray;
        background: gray;
      }
    }
  }

  .aside {
      margin: 0 auto;
      text-align: center;

      .articlesAll {
      height: 200px;
      background-size: cover;
      margin-bottom: 14px;
      a {
        text-align: left;
        text-decoration: none;
        color: white;
        display: inline-block;
        padding: 10px;
        height: 200px;
        width: 260px;
        position: absolute;
        z-index: 5;
        background: rgba(0,0,0,0.4);
        transition: 0.3s;
      }
      a:hover {
        background: rgba(0,0,0,0.1);
      }
      img {
        width: 260px;
        height: 200px;
        margin: 0;
        padding: 0;
      }
    }
  }
}

/// DISQUS //////////////////////////////////////////////

iframe {
  font-size: 2rem !important;
  a { font-size: 1.75em; }
  #no-posts { font-size: 1.75em; }
}

/// FORMS /////////////////////////////////////////////////
/// FORMS /////////////////////////////////////////////////


.articleEdit {
  padding: 20px 0;
  min-height: 66vh;
  text-align: center;
  background: #eee;

  .articleEditContainer {
    border-radius: 10px;
    background: white;
    overflow: hidden;

    .header {
    height: 45px;
    background: #252525;
    margin-bottom: 10px;

      h2 {
        color: #00b6ab;
        padding: 7px;
        font-weight: 200;
      }
    }
    .articleForm {
      margin: 30px;

      .articleEditTitle {
        margin: 10px 0;
        width: 550px;
        height: 30px;
        padding-left: 10px;
        border: 1px solid #00b6ab;
        border-radius: 10px;
      }
      .articleEditCity {
        margin: 10px 0;
        border: 1px solid #00b6ab;
        background: white;
        height: 30px;
        width: 150px;
        border-radius: 10px;
      }

      .selectCity {
        padding: 10px 0;
      }

      .submitFormButton {
        width: 200px;
        height: 32px;
        border: 1px solid #00b6ab;
        border-radius: 10px;
        background: #00b6ab;
        color: white;
        font-size: 16px;
        cursor: pointer;
        margin: 10px;
      }
    }
  }
}

@media only screen
  and (min-width: 320px)
  and (max-width: 1280px)
  and (-webkit-min-device-pixel-ratio: 2) {

  .bannerArticle {
    height: 45vh;
    .col-sm-12 > .content {
      top: 120px;
    }
  }
  .articles {
    .content {
      p {
        img {
          width: 320px !important;
          height: 100% !important;
        }
      }
    }
  }
}
