.article-category img {
  align-items: center;
}

.article-category a:hover {
  background: white;
  height: 60px;
  color: #00b6ab;
  border-bottom: 7px solid #00b6ab;
}

span.category {
  display: block;
}
