
@mixin bannerHeight {
  height: 90vh;
  max-height: 600px;
}

.bannerCity {
  background: linear-gradient( rgba(0, 0, 0, 0.9),  rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.35) );
  background-size: cover;
  background-position: center;
  @include bannerHeight;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

  img {
    position: absolute;
    @include bannerHeight;
    width: 100%;
    z-index: -1;
  }

  .bannerInfo {
    h1 {
      font-size: 35px;
      letter-spacing: 8px;
      margin-bottom: 15px;
      z-index: 5;
    }

    h2 {
      font-weight: 300;
      font-size: 22.5px;
      margin-bottom: 15px;
      z-index: 5;
    }
  }
}

.categorySelectBg{
  height: 120px;
  background: #ddd;

  .container {
    max-width: 960px;
    display: flex;
    justify-content: space-between;

    div {
      height: 120px;
      width: 230px;

      .active {
        background: white;
        color: #00b6ab;
        border-bottom: 7px solid #00b6ab;
        height: 63px;
      }

      a {
        width: 100%;
        height: 70px;
        color: gray;
        font-size: 22.5px;
        text-decoration: none;
        display: inline-block;
        text-align: center;
        padding-top: 50px;
        transition: background .3s, border-bottom .3s, height .5s, color .3s;
      }
      a:hover {
        background: white;
        color: #00b6ab;
        border-bottom: 7px solid #00b6ab;
        height: 63px;
      }
    }
  }
}

.categorySelect {
  display: inline-block;
  width: 23%;
  height: 50px;
}

.articleSelectContainer {
  padding: 50px 0;
  min-height: 200px;
  // border: 1px solid black;

  .rows {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    max-width: 100%;
    position: relative;
    margin-bottom: 40px;

    .articleSelect {
      text-decoration: none;
      color: white;
      display: inline-block;
      padding: 10px;
      height: 180px;
      width: 290px;
      position: absolute;
      border-radius: 5px;
      font-size: 20px;
      z-index: 5;
      background: rgba(0,0,0,0.4);
      transition: 0.3s;
    }
    .articleSelect:hover {
      background: rgba(0,0,0,0);
    }
    img {
      height: 200px;
      width: 310px;
      margin-bottom: 10px;
      border-radius: 5px;
    }
  }
}
