/* Rate City Start */
    .rateCity {
      font-size: 20px;
      height: 40px;
      color: #ffc107;
      cursor: pointer;
        margin-top: 40px;
    }
    .fa-star {
      transition: 1.5s;
      animation: blink 2s infinite;
    }
    @keyframes blink{
      0% { text-shadow: 0 0 0 white; }
      25% { text-shadow: 0 0 10px white; }
      50% { text-shadow: 0 0 20px white; }
      75% { text-shadow: 0 0 10px white; }
      100% { text-shadow: 0 0 0 white; }
    }
    .fa-star:hover {
      transform-origin: center;
      transform: rotate(360deg);
    }
    .ratingsYo {
      color: white;
      height: 40px;
      margin: 0 auto;
      display: none;

      p, div {
        height: 40px;
      }
    }
/* Rate City End */


/* Chart Start*/
    .chart {
      filter: opacity(0.7);
      padding: 0;
      height: 200px;
        max-width: 300px;
      border-radius: 10px;
        margin: 0 auto;

      .ct-horizontal-bars {
        height: 50px;
      }
      .ct-start {
        color: white;
      }
      .ct-series line {
        stroke: #00b6ab;
        stroke-width: 15px;
      }
        .ct-label {
          font-size: 16px;
        }
    }
/* Chart End */

.categorySelectBg{
  background: #eee;
  .categorySelect {
    padding: 0;
    position: relative;
    height: 100px;
    a {
      width: 100%;
      color: gray;
      text-decoration: none;
      display: inline-block;
      padding: 30px 0;
      text-align: center;
      transition: background .3s, border-bottom .3s, height .5s, color .3s;
      vertical-align: top;
    }
    a:hover {
      background: white;
      color: #00b6ab;
      border-bottom: 7px solid #00b6ab;
      height: 100%;
    }
    span {
      position: absolute;
      bottom: 15px;
      right: 70px;
    }
    span.all {
      left: 88px;
    }
    img {
      position: absolute;
    }
    .active {
      background: white;
      color: #00b6ab;
      border-bottom: 7px solid #00b6ab;
    }
  }

}

.articleSelectContainer {
  padding: 50px 0;
  min-height: 200px;
}
