.category-banner {
  background: #eee;
  height: 110px;
  .categorySelectBg{
    max-width: 1200px;
    margin: 0 auto;
    .categorySelect {
      padding: 0;
      a {
        width: 100%;
        height: 100%;
        color: gray;
        text-decoration: none;
        display: inline-block;
        padding: 30px 0;
        text-align: center;
        transition: background .3s, border-bottom .3s, color .3s;
        vertical-align: top;
      }
      a:hover {
        background: white;
        height: 110px;
        color: #00b6ab;
        border-bottom: 7px solid #00b6ab;
      }
      .active {
        background: white;
        color: #00b6ab;
        border-bottom: 7px solid #00b6ab;
      }
    }
  }
}

.articleSelectContainer {
  padding: 50px 0;
  max-width: 1200px;
  margin: 0 auto;
  .col-sm-12 {
    padding: 5px;
  }
}

.img-category {
  display: block;
  margin: 0 auto;
  height: 30px;
}

span.category {
  display: block;
}
