/////////////////////////////////////////////////
/////////////////////////////////////////////////
.row {
  margin-left: 0;
  margin-right: 0;
}

.navbar {
  margin-bottom: 0;
  padding: 5px;
}

.navbar-default {
  background: #c5c1c1c4;
  border: none;
}

.navbar-default .navbar-toggle {
  border-color: #000;
  background: #000;
  opacity: 0.7;
}

.navbar-default .ss-nav > li > a {
  color: #808080;
}

.navbar-default .ss-nav > li > a:hover {
  color: #808080;
}

.collapse.in{
  background-color:#000 !important;
  opacity: 0.7;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus
.spacer{
   background-color:#888;
}

.pages nav{
  background: rgba(0, 0, 0, 0.8);
  height: 70px;
}

.header {
  width: 100%;
  height: 70vh;
  margin-top: 60px;
}

.header img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.header h1, .header h2 {
  color: #fff;
}

.rating-highcharts {
  background: rgba(0, 182, 171, 0.2);
  padding: 15px;
}

.header .ratings img {
  width: 20px;
}

.carousel-caption .ratings {
  text-align: left;
}

#search-form {
  height: 60px;
}

#search-form .ss-input {
  width: 60%;
  height: 100%;
  border: 0 solid white;
  font-size: 17px;
  font-weight: 100;
  padding-left: 20px;
  color: black;
  display: inline-block;
}

#search-form button {
  background: #fff;
  vertical-align: bottom;
  cursor: pointer;
  margin-left: -5px;
  padding: 0;
}

#search-form button > i {
  font-size: 20px;
  color: #808080;
  line-height: 59px;
  vertical-align: bottom;
  width: 40px;
  background: #fff;
  display: inline-block;
}

#search-form ul {
  width: 320px !important;
  list-style: none !important;
}

#search-form ul > li {
  list-style: none !important;
}

#search-form ul.ui-autocomplete {
     color: red !important;
     -moz-border-radius: 15px;
     border-radius: 15px;
 }

.ss-input-container.subscribe {
  height: 50px;
}

.subscribe form {
  height: 100%;
}
.subscribe input {
  height: 100%;
  width: 85%;
}
.subscribe button {
  height: 100%;
  width:10%;
  margin-left: -4px;
  vertical-align: bottom;
}

.media-section img {
  margin-bottom: 10px;
  height: 65px;
  width: 100%;
  max-width: 310px;
  display: inline-block;
  filter: opacity(0.3) grayscale(100%);
  transition: 0.3s;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.media-section img:hover {
  filter: opacity(1) grayscale(0%);
}

.listings {
  .heading {
    text-align: center;
    padding: 100px 0 40px 0;

    h2 {
      color: gray;
      padding-bottom: 20px;
    }
    p {
      color: #adacac;
      font-size: 14px;
    }
  }
  .allArticlesButton {
    text-align: center;
    padding: 50px 0;

    a {
      @include button;
      width: 100px;
    }

    a:hover {
      background: rgba(0,0,0,0);
      color: $logoColor;
    }
  }
}

.listingArticles {
    .row {
        .col-xs-12, .col-sm-12, .col-md-6, .col-lg-4 {
            position: relative;
            padding: 5px;
            text-align: center;
            max-width: 320px;
            margin: 0 auto;
            a {
                font-size: 18px;
                border-radius: 4px;
                color: white;
                text-decoration: none;
                padding: 10px 0;
            }
            span {
                display: block;
                position: absolute;
                left: 5px;
                right: 5px;
                bottom: 5px;
                background: rgba(60,60,60,0.4);
                border-radius: 4px;
                padding: 6px;
            }
            img {
                display: block;
                width: 100%;
                max-width: 100%;
                height: 100%;
                max-height: 100%;
                border-radius: 4px;
            }
        }
        .col-lg-4:hover {
            opacity: 0.8;
            transition: opacity 0.3s ease;
        }
    }
}

.row.is-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.row.is-flex > [class*='col-'] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.getStarted {
  min-height: 290px;
  text-align: center;

  .content {
    max-width: 450px;
    margin: 0 auto;

    p {
      color: #aaa;
      font-size: 16px;
      line-height: 2;
    }

    a {
      @include button;
      width: 100px;
      margin-top: 45px;
    }
    a:hover {
      background: rgba(0,0,0,0);
      color: $logoColor;
    }
  }
}

.howItWorks {
  text-align: center;
  margin-bottom: 20px;
  .content {
    width: 310px;
    height: 100%;
    margin: 0 auto;
    position: relative;

    .numbers {
      display: inline-block;
      width: 18%;
      height: 100%;
      vertical-align: top;

      .spacer {
        height: 310px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        div {
          color: white;
          display: inline-block;
          text-align: left;
          border: 1px solid $logoColor;
          background: $logoColor;
          border-radius: 50%;
          text-align: center;
          line-height: 40px;
          height: 40px;
          width: 40px;
          z-index: 5;
        }
      }
      .line {
        position: absolute;
        height: 310px;
        border-right: 1px solid $logoColor;
        transform: translateY(-310px) translateX(21px);
      }
    }

    .info {
      display: inline-block;
      // border: 1px solid green;
      color: gray;
      width: 79%;
      height: 100%;
      vertical-align: top;
      font-size: 14px;

      .spacer {
        height: 310px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        div {
          display: inline-block;
          text-align: left;
          padding-top: 12px;
        }
      }
    }
  }
}

.settlerLove {
  // height: 900px;
  text-align: center;

  .header {
    text-align: center;
    padding: 40px 0;

    h2 {
      color: gray;
      padding-bottom: 20px;
    }
    p {
      color: #adacac;
      font-size: 14px;
    }
  }
  .content {
    display: flex;
    flex-direction: column;

      a {
        @include button;
        width: 150px;
        margin: 20px auto;
        margin-bottom: 60px;
      }
      a:hover {
        background: rgba(0,0,0,0);
        color: $logoColor;
      }

    .rows {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: stretch;
      max-width: 100%;
      position: relative;
      // margin-bottom: 40px;

      .love {
        // border: 1px solid red;
        border-radius: 5px;
        width: 250px;
        padding: 20px;
        line-height: 2;
        margin-bottom: 20px;


        h3 {
          font-size: 16px;
          font-weight: 400;
          color: gray;
        }
        p {
          font-size: 14px;
          color: #adacac;
        }
      }
    }
  }

  .allArticlesButton {
    text-align: center;
    padding: 50px 0;

    a {
      @include button;
      width: 100px;
    }

    a:hover {
      background: rgba(0,0,0,0);
      color: $logoColor;
    }
  }
}

.pageEnd {
  height: 400px;
  background: image-url('adelaide.jpg');
  background-size: cover;
  text-align: center;

  .content {
    margin-top: 100px;
    display: inline-block;
    position: relative;

    h1 {
      color: white;
      font-size: 25px;
      letter-spacing: 5px;
      padding: 30px;
    }
  }
}


/// TOS ///////////////////////////////////////////////////////////////////////////////
/// TOS ///////////////////////////////////////////////////////////////////////////////

.pages  {
  h1 {
    color: gray;
    margin-top: 80px;
    text-align: center;
    font-weight: 500;
  }

  h3 {
    color: $logoColor;
    margin: 40px 0;
  }

  p {
    color: gray;
    line-height: 2;
    margin-bottom: 20px;
  }
  ul {
    list-style-position: inside;
    color: gray;
  }
}

// Experts

.experts {
  text-align: center;
  h2 {
    color: gray;
    margin-bottom: 20px;
  }

  .row {
    padding: 10px;
    margin: 10px auto;
    max-width: 350px;
    color: #aaa;
    font-size: 16px;
    line-height: 2;
  }
}
// end of page buttons made bigger

// help page
.banner.help {
  height: 100px;
  background: #c0dddb;
  margin-bottom: 50px;
}

.imagebox {
  background: black;
  margin-top: 15px;
  height: 250px;
  position: relative;
  text-align: center;
  overflow: hidden;
  justify-content: space-around;
}

.imagebox img {
  max-width: 100%;
  height: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.imagebox .imagebox-desc {
  bottom: 0;
  left: 0;
  color: white;
  font-size: 1.2em;
  padding: 10px 15px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
}

.imagebox:hover img {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

// For jobs list
a.list-group-item {
    height: auto;
    min-height: 60px;
}
a.list-group-item.active small {
    color:#fff;
}
