nav {
  height: 63px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
}

$buttonColor: #00b6ab;

.nav {
  padding: 1% 0;
  height: 45px;
  width: 960px;
  display: flex;
  justify-content: space-between;

  .navLeft {

    .homeicon {
      display: inline-block;
      margin-left: 5%;
      height: 41px;
      width: 140px;
      background-image: url('logo.png');
      background-size: contain;
    }
  }

  .navRight {
    width: 45%;
    line-height: 47px;

    a {
      display: inline-block;
      color: white;
      text-decoration: none;
      font-weight: 100;
      font-size: 10pt;
      padding: 0 1%;
    }

    .helpMenuItem {
      border: 1px solid $buttonColor;
      border-radius: 30px;
      background: $buttonColor;
      line-height: 38px;
      height: 38px;
    }
  }
}

// .navSpacer {
//   height: 42px;
// }

.banner {
  background: linear-gradient( rgba(0, 0, 0, 0.9),  rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.35) ), url('slider2.jpg');
  background-size: cover;
  background-position: center;

  width:100%;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;

  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

  h1 {
    font-size: 35px;
    letter-spacing: 8px;
    margin-bottom: 15px;
  }

  h2 {
    font-weight: 300;
    font-size: 22.5px;
    margin-bottom: 15px;
  }

  .searchCity {
    width: 395px;
    height: 54px;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 35px;
    font-size: 17px;
    font-weight: 100;
    padding-left: 20px;
    color: black;
  }
}
