/////////////////////////////////////////////////
/////////////////////////////////////////////////
.row {
  margin: 0;
}

.pages > .header > nav{
  background: rgba(0, 0, 0, 0.8);
  height: 70px;
}

#countryModal {
    .modal-content {
        border-radius: 0;
        border: 0;
        position: relative;
    }
    form {
        margin-bottom: 70px;
    }
    form input {
        border-radius: 0;
    }
    button[type="submit"] {
        width: 100%;
        color: white;
        border: 0;
        border-radius: 0;
        background: $logoColor;
        font-size: 16px;
        padding: 14px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    button[type="submit"]:hover {
        background: lighten($logoColor, 2%);
    }

    button[type="submit"]:active {
        background: darken($logoColor, 2%);
    }
}

.banner {
  padding: 0;
  height:500px;
  img {
    width: 100%;
    height: 100%;
    filter: brightness(50%);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .content {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    top: 40%;
    h1 {
      letter-spacing: 4px;
      margin-bottom: 15px;
    }
    h2 {
      margin-bottom: 15px;
    }
  }
  .ausFlag {
    display: inline-block;
    height: 42px;
    width: 42px;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
    background: image-url('flag.jpg')
  }
  .flagAvail {
    display: inline-block;
    vertical-align: top;
    padding-top: 13px;
    margin-left: 10px;
  }

  .searchCity {
    max-width: 70vw;
    width: 335px;
    height: 56px;
    border: 0 solid white;
    font-size: 17px;
    font-weight: 100;
    padding-left: 20px;
    color: black;
    display: inline-block;
  }

  form {
    display: inline-block;
    // margin-left: -20px;
    // transform: translateY(.15px);

    .ui-widget {
      transform: translateX(20px);
      border: 1px solid white;
    }

    button {
      background: white;
      border: 0;
      height: 56px;
      border: 0;
      vertical-align: bottom;
      cursor: pointer;
      margin-left: -10px;
      i {
        font-size: 20px;
        color: gray;
        line-height: 54px;
        width: 60px;
        background: white;
        display: inline-block;
      }
    }
  }
}

#search-form { margin-bottom: 20px; }

.recommendedBy {
  height: 200px;
  text-align: center;
  img {
    margin-bottom: 10px;
    width: 100%;
    max-width: 310px;
    display: inline-block;
    filter: opacity(0.3) grayscale(100%);
    transition: 0.3s;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  h2 { color: gray; }
  img:hover {
      filter: opacity(1) grayscale(0%);
  }
  img.abc-logo {
    position: absolute;
    height: 50px;
    left: 25%;
    top: 30px;
  }
  .col-lg-4:first-child, .col-xs-12:first-child {
    margin-top: 25px;
  }
}

.explore {
  .header {
  text-align: center;
  padding: 40px 0;

    h2 {
      color: gray;
      padding-bottom: 20px;
    }
    p {
      color: #adacac;
    }
  }
}


.cities {
  margin-bottom: 20px;
  .col-sm-12 {
    padding: 5px;
  }
  .row {
    margin-left: 0;
    .col-md-6, .col-lg-4 {
        text-align: center;
        height: 250px;
        a {
            color: white;
            text-decoration: none;
            padding: 10px 0;
        }
        h2 {
            display: block;
            position: absolute;
            width: 90%;
            bottom: 0;
            padding: 5px;
        }
        img {
            display: block;
            width: 100%;
            height: 100%;
            max-height: 100%;
        }
    }
    .col-lg-4:hover {
        opacity: 0.8;
        transition: opacity 0.3s ease;
    }
  }
}

.listings {
  .header {
    text-align: center;
    padding: 100px 0 40px 0;

    h2 {
      color: gray;
      padding-bottom: 20px;
    }
    p {
      color: #adacac;
      font-size: 14px;
    }
  }
  .allArticlesButton {
    text-align: center;
    padding: 50px 0;

    a {
      @include button;
      width: 100px;
    }

    a:hover {
      background: rgba(0,0,0,0);
      color: $logoColor;
    }
  }
}

.listingArticles {
    .row {
        .col-xs-12, .col-sm-12, .col-md-6, .col-lg-4 {
            position: relative;
            padding: 5px;
            text-align: center;
            max-width: 320px;
            margin: 0 auto;
            a {
                font-size: 18px;
                border-radius: 4px;
                color: white;
                text-decoration: none;
                padding: 10px 0;
            }
            span {
                display: block;
                position: absolute;
                left: 5px;
                right: 5px;
                bottom: 5px;
                background: rgba(60,60,60,0.4);
                border-radius: 4px;
                padding: 6px;
            }
            img {
                display: block;
                width: 100%;
                max-width: 100%;
                height: 100%;
                max-height: 100%;
                border-radius: 4px;
            }
        }
        .col-lg-4:hover {
            opacity: 0.8;
            transition: opacity 0.3s ease;
        }
    }
}

.getStarted {
  min-height: 290px;
  text-align: center;

  h2 {
    color: gray;
    padding: 30px;
  }

  .content {
    max-width: 450px;
    margin: 0 auto;

    p {
      color: #aaa;
      font-size: 16px;
      line-height: 2;
    }

    a {
      @include button;
      width: 100px;
      margin-top: 45px;
    }
    a:hover {
      background: rgba(0,0,0,0);
      color: $logoColor;
    }
  }
}

.howItWorks {
  text-align: center;
  margin-bottom: 20px;
  h2 {
    color: gray;
  }

  .content {
    width: 310px;
    height: 100%;
    margin: 0 auto;
    position: relative;

    .numbers {
      display: inline-block;
      width: 18%;
      height: 100%;
      vertical-align: top;

      .spacer {
        height: 310px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        div {
          color: white;
          display: inline-block;
          text-align: left;
          border: 1px solid $logoColor;
          background: $logoColor;
          border-radius: 50%;
          text-align: center;
          line-height: 40px;
          height: 40px;
          width: 40px;
          z-index: 5;
        }
      }
      .line {
        position: absolute;
        height: 310px;
        border-right: 1px solid $logoColor;
        transform: translateY(-310px) translateX(21px);
      }
    }

    .info {
      display: inline-block;
      // border: 1px solid green;
      color: gray;
      width: 79%;
      height: 100%;
      vertical-align: top;
      font-size: 14px;

      .spacer {
        height: 310px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        div {
          display: inline-block;
          text-align: left;
          padding-top: 12px;
        }
      }
    }
  }
}

.settlerLove {
  // height: 900px;
  text-align: center;

  .header {
    text-align: center;
    padding: 40px 0;

    h2 {
      color: gray;
      padding-bottom: 20px;
    }
    p {
      color: #adacac;
      font-size: 14px;
    }
  }
  .content {
    display: flex;
    flex-direction: column;

      a {
        @include button;
        width: 150px;
        margin: 20px auto;
        margin-bottom: 60px;
      }
      a:hover {
        background: rgba(0,0,0,0);
        color: $logoColor;
      }

    .rows {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: stretch;
      max-width: 100%;
      position: relative;
      // margin-bottom: 40px;

      .love {
        // border: 1px solid red;
        border-radius: 5px;
        width: 250px;
        padding: 20px;
        line-height: 2;
        margin-bottom: 20px;


        h3 {
          font-size: 16px;
          font-weight: 400;
          color: gray;
        }
        p {
          font-size: 14px;
          color: #adacac;
        }
      }
    }
  }

  .allArticlesButton {
    text-align: center;
    padding: 50px 0;

    a {
      @include button;
      width: 100px;
    }

    a:hover {
      background: rgba(0,0,0,0);
      color: $logoColor;
    }
  }
}

.pageEnd {
  height: 400px;
  background: image-url('adelaide.jpg');
  background-size: cover;
  text-align: center;

  .content {
    margin-top: 100px;
    display: inline-block;
    position: relative;

    h1 {
      color: white;
      font-size: 25px;
      letter-spacing: 5px;
      padding: 30px;
    }
  }
}


/// TOS ///////////////////////////////////////////////////////////////////////////////
/// TOS ///////////////////////////////////////////////////////////////////////////////

.tos, .privacyPolicy, .faq, .about, .contact  {
  h1 {
    color: gray;
    margin-top: 80px;
    text-align: center;
    font-weight: 500;
  }

  h3 {
    color: $logoColor;
    margin: 40px 0;
  }

  p {
    color: gray;
    line-height: 2;
    margin-bottom: 20px;
  }
  ul {
    list-style-position: inside;
    color: gray;
  }
}

// Experts

.experts {
  text-align: center;
  h2 {
    color: gray;
    margin-bottom: 20px;
  }

  .row {
    padding: 10px;
    margin: 10px auto;
    max-width: 350px;
    color: #aaa;
    font-size: 16px;
    line-height: 2;
  }
}
// end of page buttons made bigger

// help page
.banner.help {
  height: 100px;
  background: #c0dddb;
  margin-bottom: 50px;
}
