$buttonColor: #00b6ab;

@mixin button {
  border: 1px solid $buttonColor;
  background: $buttonColor;
  line-height: 42px;
  height: 42px;
  transition: 0.3s;
  text-decoration: none;
  color: white;
  display: inline-block;
  text-align: center;
  font-size: 14px;
}


/////////////////////////////////////////////////
/////////////////////////////////////////////////


#countryModal {
    .modal-content {
        border-radius: 0;
        border: 0;
        position: relative;
    }
    form {
        margin-bottom: 70px;
    }
    form input {
        border-radius: 0;
    }
    button[type="submit"] {
        width: 100%;
        color: white;
        border: 0;
        border-radius: 0;
        background: $buttonColor;
        font-size: 16px;
        padding: 14px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    button[type="submit"]:hover {
        background: lighten($buttonColor, 2%);
    }

    button[type="submit"]:active {
        background: darken($buttonColor, 2%);
    }
}



.banner {
  background: linear-gradient( rgba(0, 0, 0, 0.9),  rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.35) ), image-url('slider2.jpg');
  background-size: cover;
  background-position: center;
  width:100%;
  height: 100vh;
  text-align: center;
  color: white;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 35px;
    letter-spacing: 4px;
    margin-bottom: 15px;
  }

  h2 {
    font-weight: 300;
    font-size: 22.5px;
    margin-bottom: 15px;
  }
  .ausFlag {
    display: inline-block;
    height: 42px;
    width: 42px;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
    background: image-url('flag.jpg')
  }
  .flagAvail {
    display: inline-block;
    vertical-align: top;
    padding-top: 13px;
    margin-left: 10px;
  }

  .searchCity {
    max-width: 60vw;
    width: 335px;
    height: 56px;
    border: 0 solid white;
    font-size: 17px;
    font-weight: 100;
    padding-left: 20px;
    color: black;
    display: inline-block;
  }

  form {
    display: inline-block;
    // margin-left: -20px;
    // transform: translateY(.15px);

    .ui-widget {
      transform: translateX(20px);
      border: 1px solid white;
    }

    button {
      background: white;
      border: 0;
      height: 56px;
      border: 0;
      vertical-align: bottom;
      cursor: pointer;
      margin-left: -10px;
      i {
        font-size: 20px;
        color: gray;
        line-height: 54px;
        width: 60px;
        background: white;
        display: inline-block;
      }
    }
  }
}

#search-form { margin-bottom: 20px; }

.primary-btn {
  border: 1px solid $buttonColor;
  background: $buttonColor;
  line-height: 42px;
  height: 42px;
  transition: 0.3s;
  text-decoration: none;
  color: white;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  width: 150px;
  margin: 20px auto;
  margin-bottom: 60px;
}

.primary-btn:hover {
  border: 1px solid $buttonColor;
  text-decoration: none;
  background: rgba(255,255,255,0);
  color: $buttonColor;
}

.recommendedBy { margin: 0 auto; text-align: center; }
.logos {
    height: 120px;
    margin-bottom: 20px;
    width: 300px;
    max-width: 25%;
    display: inline-block;
    filter: opacity(0.3) grayscale(100%);
    transition: 0.3s;
}

.logos.one {
    background: image-url('i-logo1.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.logos.two {
    background: image-url('i-logo2.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.logos.three {
    background: image-url('i-logo3.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.logos:hover {
    filter: opacity(1) grayscale(0%);
}

.explore {
  padding-bottom: 100px;
  .header {
  text-align: center;
  padding: 40px 0;

    h2 {
      color: gray;
      padding-bottom: 20px;
    }
    p {
      color: #adacac;
      font-size: 14px;
    }
  }
}


.cities {
    .row {
        .col-sm-4 {
            position: relative;
            padding: 5px;
            text-align: center;
            max-width: 400px;
            margin: 0 auto;
            a {
                font-size: 18px;
                border-radius: 4px;
                color: white;
                text-decoration: none;
                padding: 10px 0;
            }
            span {
                display: block;
                position: absolute;
                left: 5px;
                right: 5px;
                bottom: 5px;
                background: rgba(60,60,60,0.4);
                border-radius: 4px;
                padding: 6px;
            }
            img {
                display: block;
                width: 100%;
                height: 200px;
                max-height: 100%;
                border-radius: 4px;
            }
        }
        .col-sm-4:hover {
            opacity: 0.8;
            transition: opacity 0.3s ease;
        }
    }
}

.listings {
  .header {
    text-align: center;
    padding: 100px 0 40px 0;

    h2 {
      color: gray;
      padding-bottom: 20px;
    }
    p {
      color: #adacac;
      font-size: 14px;
    }
  }
  .allArticlesButton {
    text-align: center;
    padding: 50px 0;

    a {
      @include button;
      width: 100px;
    }

    a:hover {
      background: rgba(0,0,0,0);
      color: $buttonColor;
    }
  }
}




.listingArticles {
    .row {
        .col-sm-4 {
            position: relative;
            padding: 5px;
            text-align: center;
            max-width: 400px;
            margin: 0 auto;
            a {
                font-size: 18px;
                border-radius: 4px;
                color: white;
                text-decoration: none;
                padding: 10px 0;
            }
            span {
                display: block;
                position: absolute;
                left: 5px;
                right: 5px;
                bottom: 5px;
                background: rgba(60,60,60,0.4);
                border-radius: 4px;
                padding: 6px;
            }
            img {
                display: block;
                width: 100%;
                max-width: 100%;
                height: 200px;
                max-height: 100%;
                border-radius: 4px;
            }
        }
        .col-sm-4:hover {
            opacity: 0.8;
            transition: opacity 0.3s ease;
        }
    }
}

section.colored {
  background: #f9ffff;
  border-top: 1px solid #c0dddb;
  border-bottom: 1px solid #c0dddb;
}

.getStarted {
  min-height: 290px;
  text-align: center;

  h2 {
    color: gray;
    padding: 30px;
  }

  .content {
    max-width: 450px;
    margin: 0 auto;

    p {
      color: #aaa;
      font-size: 16px;
      line-height: 2;
    }

    a {
      @include button;
      width: 100px;
      margin-top: 45px;
    }
    a:hover {
      background: rgba(0,0,0,0);
      color: $buttonColor;
    }
  }
}

.howItWorks {
  height: 509px;
  text-align: center;
  margin-bottom: 50px;

  h2 {
    color: gray;
    padding: 20px 0 35px 0;
  }

  .content {
    width: 310px;
    height: 377px;
    margin: 0 auto;
    // border: 1px solid green;
    position: relative;

    .numbers {
      display: inline-block;
      // border: 1px solid green;
      width: 18%;
      height: 100%;
      vertical-align: top;

      .spacer {
        height: 310px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        div {
          color: white;
          display: inline-block;
          text-align: left;
          border: 1px solid $buttonColor;
          background: $buttonColor;
          border-radius: 50%;
          text-align: center;
          line-height: 40px;
          height: 40px;
          width: 40px;
          z-index: 5;
        }
      }
      .line {
        position: absolute;
        height: 310px;
        border-right: 1px solid $buttonColor;
        transform: translateY(-310px) translateX(21px);
      }
    }

    .info {
      display: inline-block;
      // border: 1px solid green;
      color: gray;
      width: 79%;
      height: 100%;
      vertical-align: top;
      font-size: 14px;

      .spacer {
        height: 310px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        div {
          display: inline-block;
          text-align: left;
          padding-top: 12px;
        }
      }
    }
  }
}

.settlerLove {
  // height: 900px;
  text-align: center;

  .header {
    text-align: center;
    padding: 40px 0;

    h2 {
      color: gray;
      padding-bottom: 20px;
    }
    p {
      color: #adacac;
      font-size: 14px;
    }
  }
  .content {
    display: flex;
    flex-direction: column;

      a {
        @include button;
        width: 150px;
        margin: 20px auto;
        margin-bottom: 60px;
      }
      a:hover {
        background: rgba(0,0,0,0);
        color: $buttonColor;
      }

    .rows {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: stretch;
      max-width: 100%;
      position: relative;
      // margin-bottom: 40px;

      .love {
        // border: 1px solid red;
        border-radius: 5px;
        width: 250px;
        padding: 20px;
        line-height: 2;
        margin-bottom: 20px;


        h3 {
          font-size: 16px;
          font-weight: 400;
          color: gray;
        }
        p {
          font-size: 14px;
          color: #adacac;
        }
      }
    }
  }

  .allArticlesButton {
    text-align: center;
    padding: 50px 0;

    a {
      @include button;
      width: 100px;
    }

    a:hover {
      background: rgba(0,0,0,0);
      color: $buttonColor;
    }
  }
}

.pageEnd {
  height: 400px;
  background: image-url('adelaide.jpg');
  background-size: cover;
  text-align: center;

  .container {


    .content {
      margin-top: 100px;
      display: inline-block;
      position: relative;

      h1 {
        color: white;
        font-size: 25px;
        letter-spacing: 5px;
        padding: 30px;
      }

      a {
        @include button;
        width: 120px;
      }
      a:hover {
        background: rgba(0,0,0,0);
        color: $buttonColor;
      }
    }
  }
}


/// TOS ///////////////////////////////////////////////////////////////////////////////
/// TOS ///////////////////////////////////////////////////////////////////////////////

.tos, .privacyPolicy, .faq, .about, .contact  {
  margin-bottom: 80px;

  h1 {
    color: gray;
    font-size: 22.5px;
    margin: 60px 0;
    text-align: center;
    font-weight: 500;
  }

  h3 {
    color: $buttonColor;
    margin: 40px 0;
  }

  p {
    color: gray;
    line-height: 2;
    margin-bottom: 20px;
  }
  ul {
    list-style-position: inside;
    color: gray;
  }
}

// Experts

.experts {
  background: #fff;
  border-bottom: 1px solid #c0dddb;
  border-top: 1px solid #c0dddb;
  padding: 30px;
  text-align: center;

  h2 {
    color: gray;
    margin-bottom: 20px;
  }

  .row {
    padding: 10px;
    margin: 10px auto;
    max-width: 350px;
    color: #aaa;
    font-size: 16px;
    line-height: 2;
  }
}
// end of page buttons made bigger
.pageEnd .content a.button {
    max-width: 140px;
    height: 50px;
    line-height: 50px;
    margin: 0 10px;
}

// help page
.banner.help {
  height: 100px;
  background: #c0dddb;
  margin-bottom: 50px;
}
