$buttonColor: #00b6ab;

@mixin logoRec {
  display: inline-block;
  width: 32%;
  height: 114px;
  background-size: cover;
  background-position: center;
  filter: opacity(0.3) grayscale(100%);
  transition: 0.3s;
}

@mixin shortCityImg {
  display: inline-block;
  height: 200px;
  width: 310px;
  position: absolute;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

@mixin label {
  color: white;
  display: inline-block;
  font-size: 20px;
  text-decoration: none;
  z-index: 5;
  width: inherit;
  background: rgba(0,0,0,0.4);
  transition: 0.3s;
}

@mixin button {
  border: 1px solid $buttonColor;
  border-radius: 30px;
  background: $buttonColor;
  line-height: 38px;
  height: 38px;
  transition: 0.3s;
  text-decoration: none;
  color: white;
  display: inline-block;
  text-align: center;
  font-size: 13px;
}


/////////////////////////////////////////////////
/////////////////////////////////////////////////


.banner {
  background: linear-gradient( rgba(0, 0, 0, 0.9),  rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.35) ), url('slider2.jpg');
  background-size: cover;
  background-position: center;
  width:100%;
  height: 90vh;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;

  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

  h1 {
    font-size: 35px;
    letter-spacing: 8px;
    margin-bottom: 15px;
  }

  h2 {
    font-weight: 300;
    font-size: 22.5px;
    margin-bottom: 15px;
  }

  .searchCity {
    width: 395px;
    height: 54px;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 35px;
    font-size: 17px;
    font-weight: 100;
    padding-left: 20px;
    color: black;
    margin-bottom: 15px;
  }
}

.recommendedBy {
  display: flex;
  padding: 50px 0;
  justify-content: space-between;

  .logos.one {
    background: url('i-logo1.jpg');
    @include logoRec;
    background-position: top;
  }
  .logos.two {
    background: url('i-logo2.jpg');
    @include logoRec;
  }
  .logos.three {
    background: url('i-logo3.jpg');
    @include logoRec;
  }
  .logos:hover {
    filter: opacity(1) grayscale(0%);
  }
}

.explore {
  padding-bottom: 100px;
  .header {
  text-align: center;
  padding: 40px 0;

    h2 {
      color: gray;
      padding-bottom: 20px;
    }
    p {
      color: #adacac;
      font-size: 14px;
    }
  }

  .cities {
    display: flex;
    flex-direction: column;

    .rows {
      // height: 205px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: stretch;
      max-width: 100%;
      margin-bottom: 20px;
      position: relative;

      img {
        height: 200px;
        width: 310px;
        margin-bottom: 10px;
        border-radius: 5px;
      }

      .labelShort{
        @include label;
        @include shortCityImg;
      }
      .labelShort:hover {
        background: rgba(0,0,0,0);
      }
    }
  }
}

.listings {
  .header {
    text-align: center;
    padding: 100px 0 40px 0;

    h2 {
      color: gray;
      padding-bottom: 20px;
    }
    p {
      color: #adacac;
      font-size: 14px;
    }
  }
  .listingArticles {
    display: flex;
    flex-direction: column;

    .rows {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: stretch;
      max-width: 100%;
      margin-bottom: 20px;
      position: relative;

      .articles {
        text-decoration: none;
        color: white;
        display: inline-block;
        padding: 10px;
        height: 180px;
        width: 290px;
        position: absolute;
        border-radius: 5px;
        font-size: 20px;
        z-index: 5;
        background: rgba(0,0,0,0.4);
        transition: 0.3s;
      }
      .articles:hover {
        background: rgba(0,0,0,0);
      }

      img {
        height: 200px;
        width: 310px;
        margin-bottom: 10px;
        border-radius: 5px;
      }
    }
  }

  .allArticlesButton {
    text-align: center;
    padding: 50px 0;

    a {
      @include button;
      width: 100px;
    }

    a:hover {
      background: rgba(0,0,0,0);
      color: $buttonColor;
    }
  }
}

.getStarted {
  height: 290px;
  padding: 30px 0;
  background: #f9ffff;
  border-top: 1px solid #c0dddb;
  border-bottom: 1px solid #c0dddb;
  text-align: center;

  h2 {
    color: gray;
    padding: 30px;
  }

  .content {
    width: 450px;
    margin: 0 auto;

    p {
      color: #aaa;
      font-size: 16px;
      line-height: 2;
    }

    a {
      @include button;
      width: 100px;
      margin-top: 45px;
    }
    a:hover {
      background: rgba(0,0,0,0);
      color: $buttonColor;
    }
  }
}

.howItWorks {
  height: 509px;
  padding: 50px 0;
  text-align: center;

  h2 {
    color: gray;
    padding: 30px 0 60px 0;
  }

  .content {
    width: 310px;
    height: 377px;
    margin: 0 auto;
    // border: 1px solid green;
    position: relative;

    .numbers {
      display: inline-block;
      // border: 1px solid green;
      width: 18%;
      height: 100%;
      vertical-align: top;

      .spacer {
        height: 377px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        div {
          color: white;
          display: inline-block;
          text-align: left;
          border: 1px solid $buttonColor;
          background: $buttonColor;
          border-radius: 50%;
          text-align: center;
          line-height: 40px;
          height: 40px;
          width: 40px;
          z-index: 5;
        }
      }
      .line {
        position: absolute;
        height: 370px;
        border-right: 1px solid $buttonColor;
        transform: translateY(-375px) translateX(21px);
      }
    }

    .info {
      display: inline-block;
      // border: 1px solid green;
      color: gray;
      width: 79%;
      height: 100%;
      vertical-align: top;
      font-size: 14px;

      .spacer {
        height: 377px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        div {
          display: inline-block;
          text-align: left;
          padding-top: 12px;
        }
      }
    }
  }
}

.settlerLove {
  // height: 900px;
  text-align: center;

  .header {
    text-align: center;
    padding: 40px 0;

    h2 {
      color: gray;
      padding-bottom: 20px;
    }
    p {
      color: #adacac;
      font-size: 14px;
    }
  }
  .content {
    display: flex;
    flex-direction: column;

      a {
        @include button;
        width: 150px;
        margin: 20px auto;
        margin-bottom: 60px;
      }
      a:hover {
        background: rgba(0,0,0,0);
        color: $buttonColor;
      }

    .rows {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: stretch;
      max-width: 100%;
      position: relative;
      // margin-bottom: 40px;

      .love {
        // border: 1px solid red;
        border-radius: 5px;
        width: 250px;
        padding: 20px;
        line-height: 2;
        margin-bottom: 20px;


        h3 {
          font-size: 16px;
          font-weight: 400;
          color: gray;
        }
        p {
          font-size: 14px;
          color: #adacac;
        }
      }
    }
  }

  .allArticlesButton {
    text-align: center;
    padding: 50px 0;

    a {
      @include button;
      width: 100px;
    }

    a:hover {
      background: rgba(0,0,0,0);
      color: $buttonColor;
    }
  }
}

.pageEnd {
  height: 400px;
  background: url('adelaide.jpg');
  text-align: center;

  .container {


    .content {
      margin-top: 100px;
      display: inline-block;
      position: relative;

      h1 {
        color: white;
        font-size: 25px;
        letter-spacing: 5px;
        padding: 30px;
      }

      a {
        @include button;
        width: 120px;
        margin: 20px 10px;
      }
      a:hover {
        background: rgba(0,0,0,0);
        color: $buttonColor;
      }
    }
  }
}


/// TOS ///////////////////////////////////////////////////////////////////////////////
/// TOS ///////////////////////////////////////////////////////////////////////////////

.tos, .privacyPolicy, .faq  {
  margin-bottom: 80px;

  h1 {
    color: gray;
    font-size: 22.5px;
    margin: 60px 0;
    text-align: center;
    font-weight: 500;
  }

  h3 {
    color: $buttonColor;
    margin: 40px 0;
  }

  p {
    color: gray;
    line-height: 2;
    margin-bottom: 20px;
  }
  ul {
    list-style-position: inside;
    color: gray;
  }
}
