.social-login a {
  color: white;
  font-size: 18px;
  text-align: center;
}
.social-login a > i {
  color: white;
  margin-right: 8px;
}

.fb-login {
  background: #334d87;
  height: 30px;
  margin: 5px 0;
}
.fb-login:hover {
  background: #365db5;
}
.gplus-login {
  background: #df4a32;
  height: 30px;
  margin: 5px 0;
}
.gplus-login:hover {
  background: #ff553a;
}
