/* global */
* { box-sizing: border-box; }
/* form general styling */

.form-group {
  padding-bottom: 24px;
}

.form-group:last-child {
  padding: 0;
  border: 0;
}

/* form select boxes */

/*Niroj removed */
/*select.form-control {
  background: #f8f8f8;
  border: 0;
  box-shadow: none;
  font-size: 16px;
  height: 50px;
}*/

/* form fieldset */

fieldset {
  background: rgb(255,255,255);
  margin: 0;
  border: 0;
  padding: 22px 20px;
  cursor: pointer;
  box-shadow: 0 2px 6px -2px rgba(0,0,0,.6)
}

fieldset p {
  color: rgb(57,204,185);
  font-size: 18px;
}

input[name="been_to_aus"] { display: none; }
label.form_button {
  font-weight: 300;
  width: 48%;
  background: green;
  text-align: center;
  background: #f8f8f8;
  box-shadow: 0 2px 6px -2px rgba(0,0,0,0.5);
  font-size: 14px;
  line-height: 36px;
  height: 40px;
}
input[type="radio"]:checked+label.form_button {
  box-shadow: none;
  background: rgb(57,204,185);
  color: white;
}

/* pretty radio buttons */
div.radio-styling {
  background: #f8f8f8;
  box-shadow: 0 2px 6px -2px rgba(0,0,0,0.5);
  height: 50px;
  line-height: 32px;
  margin: 10px 0;
  position: relative;
}

div.radio-styling label, div.select-radio-styling label {
  display: block;
  float: left;
  font-size: 14px;
  line-height: 46px;
  font-weight: 300;
  width: 100%;
  cursor: pointer;
  padding: 0px 16px;
}

div.radio-styling input {
  position: absolute;
  right: 14px;
  margin-top: 16px;
}

/*input with select and arrow right*/
div.select-radio-styling {
  background: #fff;
  height: 50px;
  line-height: 32px;
  margin: 10px 0;
  position: relative;
  border: 2px solid #e6e5e5;
  border-radius: 8px;
}

div.select-radio-styling input {
  position: absolute;
  right: 14px;
  margin-top: 16px;
  visibility: hidden;
}

div.select-radio-styling label:after {
  font-family: FontAwesome;
  content: "\f054";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}

.select-radio-styling label.active{
  background: #39ccb9;
  color:#fff;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
}

/* Preferred date section */
.datetime h4 {
  color: rgb(57,204,185);
  font-weight: 300;
}

/* Text inputs */
.input-minimal-design {
  color: rgb(57,204,185);
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid rgb(57,204,185);
  padding: 0;
  box-shadow: none;
  font-size: 18px;
}

.input-minimal-design:focus {
  box-shadow: none;
  border-color: rgb(57,204,185);
}




/**Side menu*/
.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2FB0A4;
  //position: fixed;
  //top: 0px;
  //width: 300px;
  height: 100%;
  color: #e1ffff;
}
.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  margin: 0px;
  line-height: 35px;
  padding:5px 0;
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  background-color: #71706E;
}

/** Sub menus */

.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #2BA397;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
/**Sub menu ends*/


.nav-side-menu li {
  padding-left: 0px;
  border-bottom: 1px solid #2BA397;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}

.nav-side-menu li.active a {
  cursor: default;
}
.nav-side-menu li a i {
  padding-top:5px;
}
.nav-side-menu li:not(.active):hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}

.menu-head-title{
  text-align: center;
  font-size: 17px;
  font-weight: bold;
}

.fa{
  display: inline-block;
  width: 100%;
  text-align: center;
}

.left-sub-menu{
  background-color: #71706E;

}

.left-sub-menu a{
  font-size: 15px;
  cursor: pointer;

}

.left-sub-menu a:hover{
  text-decoration: none;

}

.left-sub-menu .sub-menu{
  list-style: none;

}

.left-sub-menu .sub-menu li{
  padding: 10px 0;
  color: #bdb9b9;
}

.left-sub-menu .sub-menu li.active{
  color: #fff;

}


.left-sub-menu .sub-menu li:before{
    font-family: FontAwesome;
    content: "\f054";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    float: right;

}


.left-sub-menu li:hover{
  color: #fff;;

}

.green-text{
  color: #39ccb9;
}

.visa-requirements-list{
  list-style: none;
  padding: 0;
  font-size: 18px;
  line-height: 2em;
}

.visa-requirements-list li{
    padding-left: 1.3em;
}

.visa-requirements-list li:before{
  content: '\f058';
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em;
  color: #2FB0A4;
}

.custom-margin-left{
  margin-left: 15px;
}

.ui-datepicker-header{
 background: #2FB0A4;
}

.btn-custom{
    padding: 5px 8px;
    border: 1px solid #00b6ab;
    color: #00b6ab;
    font-size: 16px;
  background: #fff;
  font-weight: bold;
  padding: 8px 60px;
}

.btn-custom:hover{
  color: #fff;
  background: #00b6ab;

}


.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.pay-row{
  padding-bottom:5px;
}



/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}
#progressbar li {
  list-style-type: none;
  color: #71706E;
  //text-transform: uppercase;
  font-size: 11px;
  width: 25%;
  float: left;
  position: relative;
  border-radius: 10px;
  text-align: center;


}
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 25px;
  line-height: 25px;
  display: block;
  font-size: 12px;
  color: #fff;
  background: white;
  border-radius: 15px;
  margin: 0px auto 5px auto;
  text-align: center;
}
/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}

#progressbar li:before,  #progressbar li:after{
  background: #71706E;
  //color: #71706E;
}


/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
  background: #2FB0A4;
  //color: #fff;
}