<div class="navSpacer"></div>

<div class="container">
  <%=  %>
    <h2><%= @category.name %></h2>

    <% if @current_user.present? && @current_user.admin? %>
      <%= button_to 'delete', @category, :method => 'delete'%>
    <% end %>
  <% end%>

</div>
