<% breadcrumb :admin_users, @users, style: :bootstrap %>
<div class="row">
  <div class="col-sm-12">
    <h2><%= @users.model_name %></h2>
    <table class="table">
      <thead>
        <tr>
        <%= sort_header :username, 'Username' %>
        <th>Email</th>
        <th>Role</th>
        <th colspan="2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <%= render @users %>
      </tbody>
    </table>
    <%= paginate @users %>
  </div>
</div>
